@CHARSET "UTF-8";

table {
	margin : 0;
	padding : 0;
	border : solid 1px #ccc;
}
table th, table td {
	margin : 0;
	padding : 0;
	border : solid 1px #ccc;
	padding : 1px 10px;
}
table th {
	background-color : #ddd;
	width : 100px;
}
table td {
	width : 200px;
	font-size : 13px;
}
table td.focus {
	border : solid 1px #c00;
}
textarea#sz_table_input {
	position : absolute;
	display : none;
	z-index : 100;
	border : solid 1px rgb(82,168,235);
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
	-moz-box-shadow : 1px 1px 5px rgba(82,168,235, 0.5);
	-webkit-box-shadow : 1px 1px 5px rgba(82,168,235, 0.5);
	box-shadow : 1px 1px 5px rgba(82,168,235, 0.5);
}