
/** ======= thickbox ====== **/
div.fl_thickbox_clone {
	border : solid 4px #525252;
	background : #fff;
	position : fixed;
	z-index : 5000;
	top : 50%;
	left : 50%;
}
div.fl_thickbox_body { position : relative;}
div#fl_thickbox_image_prev {
	position : absolute;
	top : 50%;
	left : 15px;
	margin-top : -15px;
}
div#fl_thickbox_image_next {
	position : absolute;
	top : 50%;
	right : 15px;
	margin-top : -15px;
}
div#fl_thickbox_image img {
	display : block;
	margin : 0 auto;
}
div.fl_thickbox_clone div.fl_thickbox_caption {
	height : 25px;
	padding : 0 15px;
	font-size : 10pt;
}
div.fl_thickbox_clone div.fl_thickbox_caption a{
	color : #666;
}
div#fl_thickbox_caption_title{
	float : left;
	padding : 7px 10px 10px 10px;
}
div#fl_thickbox_caption_close{
	float : right;
	padding : 11px 5px 10px 0;
}
div.fl_thickbox_loading {
	background-image : url(../fl_images/image_lib/thickbox/loading.gif) !important;
	background-repeat :no-repeat;
	background-position : center center;
}
p.fl_th_paginate {
	font-size : 10pt;
}
p.fl_th_paginate a{
	margin : 0 5px;
}

/* ======================= lightbox ======================== */
div.fl_lightbox_clone {
	position : fixed;
	z-index : 5000;
	top : 50%;
	left : 50%;
}
div.fl_lightbox_loading {
	background-image : url(../fl_images/loading_small.gif) !important;
	background-repeat :no-repeat;
	background-position : center center;
}
div.fl_lightbox_clone canvas {
	position : absolute;
}
div.fl_lightbox_frame_header {
	position : relative;
	height:15px;
}
div.fl_lightbox_frame_footer {
	position : relative;
}
div.fl_lightbox_frame_header_bar {
	margin : 0 15px;
	background : #fff;
	height : 15px;
}
div#fl_lightbox_body {
	background-color : #fff;
	height : 100%;
	width : 100%;
}
div#fl_light_boxcorrect_l { display : none;}
div#fl_light_boxcorrect_r { display : none;}
div#fl_lightbox_image img {
	display : block;
	margin : 0 auto;
}

div.fl_lightbox_caption {
	background-color : #fff;
	height : 0px;
	padding : 0 15px;
	font-size : 10pt;
	overflow : hidden;
	padding-top : 10px;
	position : relative;
}
div.fl_lightbox_caption * {
	margin : 0;
}
div.fl_lightbox_frame_footer {
	height : 15px;
	clear:both;
}
div.fl_lightbox_frame_footer_bar {
	margin : 0 15px;
	height : 15px;
	background-color : #fff;
}
div#fl_lightbox_caption_title{
	float : left;
	padding : 7px 10px 10px 10px;
}
div#fl_lightbox_caption_close{
	float : right;
	padding : 5px 5px 10px 0;
}

/** fixed IE6 styles

 * html div#fl_lightbox_corner_lt {
	width : 15px;
	height : 15px;
	position : absolute;
	left : -15px;
}
* html div#fl_lightbox_corner_rt {
	width : 15px;
	height : 15px;
	position : absolute;
	right : -15px;
}
* html div.fl_lightbox_frame_header {
	position : absolute;
	height:15px;
	top : -15px;
	left : 0px;
	font-size : 0;
	width : 100%;
	overflow : show;

}
* html div.fl_lightbox_frame_header_bar {
	background : #fff;
	height : 15px;
	position : absolute;
	top : 0px;
	font-size : 0;
	left : -15px;
	width : 100%;
}
* html div#fl_lightbox_body {
	overflow :show;
	width : 100%;
	border-right : solid 15px #fff;
}
* html div#fl_lightbox_correct_l {
	display : block;
	width : 15px;
	height : 100%;
	background : #fff;
	position : absolute;
	top : 0px;
	left : -15px;
}
* html div#fl_lightbox_correct_c {
	display : block;
	width : 15px;
	height : 100px;
	background : #fff;
	position : absolute;
	top : 0px;
	left : -100px;
	border : solid 1px #00c;
}
* html div.fl_lightbox_caption{
	padding-right : 83px;
	height : 100px;
	overflow : show;
	position : relative;
	border : solid 1px #ccc;
}
*/
/* ======================= milkbox ======================== */
div.fl_milkbox_clone {
	position : fixed;
	z-index : 5000;
	top : 50%;
	left : 50%;
}
div.fl_milkbox_loading {
	background-image : url(../fl_images/loading_small.gif) !important;
	background-repeat :no-repeat;
	background-position : center center;
}
div.fl_milkbox_clone canvas {
	position : absolute;
}
div.fl_milkbox_frame_header {
	position : relative;
	height : 15px;
	z-index:5000;
	overflow:hidden;
}
div.fl_milkbox_frame_footer {
	position : relative;
}
div.fl_milkbox_frame_header_bar {
	margin : 0 15px;
	background : #fff;
	height : 15px;
}
div#fl_milkbox_body {
	background-color : #fff;
	height : 100%;
	width : 100%;
}

div#fl_milkbox_image img {
	display : block;
	margin : 0 auto;
}

div.fl_milkbox_caption {
	background-color : #fff;
	height : 0px;
	padding : 0 15px;
	font-size : 10pt;
	overflow : hidden;
	padding-top : 10px;
}
div.fl_milkbox_caption * {
	margin : 0;
}
div.fl_milkbox_frame_footer {
	height : 15px;
	clear:both;
}
div.fl_milkbox_frame_footer_bar {
	margin : 0 15px;
	height : 15px;
	background-color : #fff;
}
div#fl_milkbox_caption_title{
	float : left;
	padding : 7px 10px 10px 10px;
}
div#fl_milkbox_caption_close{
	float : right;
	padding : 11px 5px 10px 0;
}

/* ======================= sexy lightbox ======================== */
div.fl_slbox_clone {
	position : fixed;
	z-index : 5000;
	top : 50%;
	left : 50%;
	margin-left : -250px;
	margin-top : -1000px;
	width : 500px;
	height : 300px;
}
div#fl_slbox_image_body {
	background-color : transparent;
	position : absolute;
	top : 14px;
	left : 0px;
	width :100%;
	height : 90%;
}
div#fl_slbox_lc {
	position : absolute;
	top : 0px;
	left : 0px;
	width : 7px;
	background-color : #000;
	height : 100%;
}
div#fl_slbox_rc{
	position : absolute;
	top : 0px;
	right : 0px;
	width : 7px;
	background-color : #000;
	height : 100%;
}
div#fl_slbox_left_correct {
	position : absolute;
	top : -39px;
	left: 0px;
	width : 7px;
	height : 40px;
	background-color : #000;
}
div#fl_slbox_right_correct {
	position : absolute;
	top : -39px;
	right: 0px;
	width : 7px;
	height : 40px;
	background-color : #000;
}
div#fl_slbox_main_image {
	width : 100%;
	height : 100%;
	position : absolute;
	top : -7px;
	left: 0px;
}
div#fl_slbox_main_image img{
	display : block;
	margin : 0 auto;
}

div.fl_slbox_loading {
	background-image : url(../fl_images/image_lib/slbox/black/loading.gif) !important;
	background-repeat :no-repeat;
	background-position : center center;
}
div.fl_slbox_caption_area {
	position : absolute;
	bottom : 14px;
	left:  0px;
	background-color : #000;
	width : 100%;
	height : 50px;
	color : #fff;
}
div.fl_slbox_caption_area span{
	display : block;
	padding : 5px 0 3px 13px;
}
p.fl_sl_paginate {
	margin : 0;
	margin-left : 13px;
	font-size : 10pt;
}
div.fl_slbox_frame_header {
	position : relative;
	top : 0px;
	left : 0px;
	height : 27px;
	width : 100%;
	z-index:5000;
}
div#fl_slbox_frame_lt {
	position : aboslute;
	top : 0px;
	left : 0px;
	width : 19px;
	height : 19px;
	background : url(../fl_images/image_lib/slbox/black/bgSexy.png) 0px 0px no-repeat;
}
* html div#fl_slbox_frame_lt {
	background : none;
}
div#fl_slbox_frame_head_bar {
 border-top : solid 7px #000;
 margin : 0 15px;
 position : absolute;
 top : 0px;
 left : 0px;
 width : 90%;
 height : 12px;
}
div#fl_slbox_close {
	position : absolute;
	top : 0px;
	right : 0px;
	width : 80px;
	height : 27px;
	background : url(../fl_images/image_lib/slbox/black/bgSexy.png) -1319px 0px no-repeat;
}
* html div#fl_slbox_close {
	background : none;
}
* html div#fl_slbox_frame_rt {
	position : absolute;
	top : 0px;
	right : 0px;
	width : 80px;
	height : 27px;
}
div#fl_slbox_close a{
	background : url(../fl_images/image_lib/slbox/close.png) top left no-repeat;
	text-decoration : none;
	display : block;
	width : 47px;
	height : 48px;
	position : absolute;
	top : -15px;
	right : -15px;
}
* html div#fl_slbox_close a{
	background : none;
	cursor : pointer;
}
div#fl_slbox_trans_body {
	border-left : solid 7px #000;
	border-right : solid 7px #000;
}
div.fl_slbox_frame_footer {
	position : absolute;
	bottom : -6px;
	left : 0px;
	height : 20px;
	width : 100%;
	z-index:5000;

}
div#fl_slbox_frame_lb {
	position : aboslute;
	top : 0px;
	left : 0px;
	width : 20px;
	height : 20px;
	background : url(../fl_images/image_lib/slbox/black/bgSexy.png) 0px -108px no-repeat;
}
* html div#fl_slbox_frame_lb {
	background : none;
}
div#fl_slbox_frame_footer_bar {
 background-color : #000;
 margin : 0 15px;
 position : absolute;
 top : 0px;
 left : 0px;
 width : 89%;
 height : 20px;
}
* html div#fl_slbox_frame_footer_bar {
	position : absolute;
	bottom : 0px;
}
div#fl_slbox_frame_rb {
	position : absolute;
	top : 0px;
	right : 0px;
	width : 80px;
	height : 20px;
	background : url(../fl_images/image_lib/slbox/black/bgSexy.png) -1319px -108px no-repeat;
}
* html div#fl_slbox_frame_rb {
	background : none;
}
